# Python
__pycache__/
*.pyc
.venv/

# Node
node_modules/
dist/

# Local data
backend/storage/uploads/*
backend/storage/extracted/*
backend/storage/app.db
!backend/storage/uploads/.gitkeep
!backend/storage/extracted/.gitkeep

frontend
start.md